# Copie este arquivo para ".env" e preencha com os dados do seu projeto Supabase
# (Configurações do projeto -> API, no painel do Supabase)

VITE_SUPABASE_URL=https://bsnwtjkbvrisdpllnhei.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzbnd0amtidnJpc2RwbGxuaGVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczODM1NDEsImV4cCI6MjEwMjk1OTU0MX0.uWM66VJnvd99TD3Dd8-QbmuxY20rxgJyqBuLFBpoPWM
